@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap');

@import "tailwindcss";

body {
  font-family: 'JetBrains Mono', monospace;
}


:root {
  font-family: 'JetBrains Mono', monospace;
}

body {
  margin: 0;
  padding: 0;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}